.download-progress {
    -fx-max-width: 1000;
    -fx-pref-width: 1000;
    -fx-min-width: 100;
    -fx-min-height: 10px;
    -fx-max-height: 10px;
}

.download-progress > .bar {
    -fx-background-color: #85AE51;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
}

.download-progress > .track {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
}